@import '../../styles/variables';

.layoutContainer{
    display: flex;
    gap: 1rem;
    padding: 1.5rem;

    .mainLeftContainer{
        flex: 1;
    }

    .mainMiddleContainer{
        flex: 4;
        height: 600px;
        scroll-behavior: smooth;
        overflow-y: scroll;
    
        &::-webkit-scrollbar{
            width: 0;
        }
    }

    .mainRightContainer{
        flex: 2;
    }

    @media screen and (max-width: $breakpoint-lg) {
        flex-direction: column;
        padding: 1rem;

        .mainLeftContainer, .mainMiddleContainer, .mainRightContainer{
            flex: none;
            overflow-y: none;
            height: auto;
        }
    }
}