@import '../../styles/variables';

.layoutContainer {
    display: flex;
    gap: $mediumSpacing;
    padding: $padding-md;

    .mainLeftContainer {
        flex: 2;
    }

    .mainMiddleContainer {
        flex: 8;
        padding: $padding-sm;
        height: 560px;
        scroll-behavior: smooth;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            width: 0;
        }
    }

    @media screen and (max-width: $breakpoint-lg) {
        flex-direction: column;
        padding: $padding-sm;

        .mainLeftContainer,
        .mainMiddleContainer {
            flex: none;
            overflow-y: none;
            height: auto;
        }
    }

    @media screen and (max-width: $breakpoint-sm) {
        .mainMiddleContainer {
            padding: 0;
        }
    }
}