@import '../../styles/variables';

.menuIcon {
    width: 25px;
    height: 25px;
    object-fit: contain;
}

.actionContainer,
.actionMenu {
    display: flex;
    flex-direction: column;
}

.actionContainer {
    gap: $mediumSpacing * 2;

    .actionMenu {
        gap: $smallSpacing;

        .menuOption {
            display: flex;
            align-items: center;
            gap: $smallSpacing;
            padding: $padding-sm;
            border-radius: $borderRadius;
            transition: $transitionDefault;

            &:hover,
            &.active {
                background-color: $optionHover;
            }

            &:active {
                transform: scale(0.95);
            }

            .optionLabel {
                font-weight: 600;
            }
        }
    }

    @media screen and (max-width: $breakpoint-sm) {
        gap: $mediumSpacing;

        .actionMenu {
            flex-direction: row;
        }
    }

    @media screen and (max-width: $breakpoint-xs) {

        .actionMenu {
            .menuOption {
                padding: $padding-xs;

                .menuIcon {
                    width: 15px;
                    height: 15px;
                    object-fit: contain;
                }

                .optionLabel {
                    font-size: $font-size-xs;
                }
            }
        }
    }
}