@import '../../styles/variables';

.logoContainer{
    display: flex;
    align-items: center;
    gap: $smallSpacing;

    .appLogo{
        width: 35px;
        height: 35px;
        object-fit: contain;
    }

    .logoLabel{
        font-size: $font-size-md;
        font-weight: 600;
    }

    @media screen and (max-width: $breakpoint-xs) {
        .appLogo{
            width: 30px;
            height: 30px;
        }

        .logoLabel{
            font-size: $font-size-md;
        }
    }
}