@import '../../styles/variables';

.viewbarContainer {
    display: flex;
    flex-direction: column;
    gap: $mediumSpacing;

    .videoPlayer {
        width: auto;
        display: flex;
        flex-direction: column;
        gap: $mediumSpacing;
        cursor: pointer;
        position: relative;

        video {
            width: 100%;
            border-radius: $borderRadius;
            transition: 0.2s ease-in-out;
        }

        .subtt {
            background-color: $mainColor;
            font-size: 12px;
            text-align: center;
            min-width: 100px;
            color: $backgroundColor;
            padding: 0.1rem 0.4rem;
            position: absolute;
            bottom: 2rem;
            right: 45%;
        }
    }

    .titleMain {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;

        .videoTitle {
            font-size: $font-size-md;
        }

        .optionIcon {
            width: 30px;
            height: 30px;
            object-fit: contain;
            border-radius: 50%;
            padding: 2px;
            transition: 0.2s ease-in-out;

            &:hover {
                background-color: #323232;
            }
        }

        .delDrop {
            position: absolute;
            top: $largeSpacing;
            right: $largeSpacing;
            display: none;
            background-color: $mainColor;
            padding: $padding-xs;
            color: $backgroundColor;
            border-radius: $borderRadius;

            &.active {
                display: flex;
            }

            .delBtn {
                font-size: 14px;
                font-weight: 600;
                cursor: default;

                &:hover,
                &:active {
                    color: red;
                }

                &:active {
                    transform: scale(0.95);
                }
            }
        }
    }

    .videoDescrip {
        font-size: $font-size-sm;
        background-color: rgb(50, 50, 50);
        border-radius: 10px;
        padding: 0.8rem;
    }

    @media screen and (max-width: $breakpoint-sm) {
        .videoPlayer {
            .subtt {
                font-size: 10px;
                right: 43%;
            }
        }
    }

    @media screen and (max-width: $breakpoint-xs) {

        .videoPlayer {
            .subtt {
                right: 40%;
            }
        }

        .videoTitle {
            font-size: $font-size-sm;
        }

        .videoDescrip {
            font-size: $font-size-xs;
        }
    }
}